$codeFont: Consolas, Source Code Pro, Ubuntu Mono, Courier New;
$topHeight: 3rem;
$menuWidth: 20rem;

$colorLight: #f9f9f9;
$colorLight2: #f0f0f0;
$colorDark: #222;
$colorDark2: #444;
$borderColor: #ccc;
