@import './constant.scss';

#head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $topHeight;
  padding: 0.5rem;
  box-shadow: 0 0 8px #6669;
  overflow: hidden;
}
#main,
#menu {
  position: fixed;
  overflow-y: auto;
  padding: 0 1.5rem 1rem;
  @media screen and (max-width: 1440px) {
    padding: 0 1rem 1rem;
  }
  @media screen and (max-width: 960px) {
    padding: 0 0.5rem 0.5rem;
  }
}
#menu {
  left: 0;
  top: $topHeight;
  bottom: 0;
  width: $menuWidth;
  box-shadow: 0 8px 8px #6669;
}
#main {
  left: $menuWidth;
  top: $topHeight;
  bottom: 0;
  right: 0;
}

body {
  &,
  * {
    box-sizing: border-box;
  }
}

code,
pre {
  font-family: $codeFont;
}
code {
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
